.mycard {
  background: whitesmoke;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: fit-content;
  width: fit-content;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

body,
html {
  margin: 0px;
  padding: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.button {
  background: white;
  font-family: cursive;
  margin-top: 10px;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  border: solid rgb(250, 249, 250);
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.button:hover{

    border:solid rgba(224, 197, 224, 0.234) ;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.parent {
  padding-top: 60px;
  width: 78%;
}

.inp {
  border: rgb(255, 255, 255);
  box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset,
    rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
}


.bottom{

    display: flex;
    background: yellow;
    padding: 50px;
    justify-content: center;
    align-items: center;
}